.botaoNovo {
    width: 54.74px !important;
    height: 26.36px !important;
    padding: 1px 6px;
    margin: 0px 0px 8px;
}

.active {
    background-color: aqua !important;
    color: black !important;
}

.foto_sort {
    margin-left: 5px;
}

.coluna_form {
    position: relative;
}

.spinner-border {
    width: 125px;
    height: 125px;
    position: fixed;
    margin-top: -5%;
    z-index: 2;
}

.alert-success {
    right: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    margin-top: 10px;
    margin-right: 5px;
}

.thead-dark {
    background-color: #f7f7f9;
    color: black !important;
}

.alert-danger {
    right: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    margin-top: 10px;
    margin-right: 5px;
}

.progress {
    width: 350px;
    height: 35px;
    border: solid #8b7b7b 2px;
    border-radius: 100px;
    position: fixed;
    z-index: 1999;
    margin-right: auto;
    margin-left: auto;
    background-color: #8b7b7b;
    left: 0;
    right: 0;
}

.progress-bar {
    background-color: #1a1a1a;
    color: white;
    height: 32px;
    width: calc(var(--width, 0) * 1%);
    border-radius: 100px;
    max-width: calc(100% - 0.1em);
}

#loading-label {
    float: left !important;
    position: absolute;
    margin-top: 8px;
    margin-left: 10px;
}

#porcentagem {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
}

input[type=checkbox]:after {
    content: "";
    background-color: black;
    color: white;
    font-weight: bold;
    width: 20px;
    height: 20px;
    position: absolute;
    text-align: center;
    border: 1px solid green;
}

input[type=checkbox]:checked:after {
    content: "\2713";
    width: 20px;
    height: 20px;
}
.img-pessoa{
    max-width: 128px;
    max-height: 128px;
    width: auto;
    height: auto;
}